@import "variables/variables";
@import url(./reset.css);
// @import "base/base";
// @import "mixins";

body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.0001);
    min-width: 320px;
    position: relative;
    
}
.container {
    // text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    // @media screen and (min-width:768px)  and (max-wigth:1182px) {
    //     width: 768px;
    //     margin: 0 auto;
    // }
    // @media screen and (max-width:767px) {
    //     max-width: 100%;
    //     margin: 0 auto;
    // } 
    // @media screen and (max-width:320px) {
    //     max-width: 320px;
    //     margin: 0 auto;
    // } 
}

// .header {
    // position: fixed;
    // width: 100%;
    // top: 0;
    // left: 0;
    // z-index: 50;
    // background-color: rgb(255, 255, 255, 0.8);
    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: red;
    // }    
// }
.header__body{
    // position: relative;
    // z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 55px;
    padding: 30px 0 34px 0;
    @media (max-width:1199px) {
        padding: 22px 0 28px 0;
    }
    @media (max-width:767px) {
        padding: 22px 0;
        height: 36px;
    }
    .header__burger {
        display: none;
        @media (max-width:767px) {
            display: block;
            top: 24px;
            right: 25px;
            position: absolute;
            width: 44px;
            height: 36px;
            background-color: #000000;
            &::before, 
            &::after {
                content: "";
                position: absolute; 
                background-color: #ffffff;
                width: 16px;
                height: 2px;
                left: 14px;
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: 12px;
            }
            &::after{
                top: 20px;
            }
            span {
                position: absolute;
                left: 14px;
                width: 16px;
                height: 2px;
                top: 16px;
                background-color: #ffffff;
                transition: all 0.3s ease 0s;
            }
        }
    }
    .header__burger.active {
        &::before {
           transform: rotate(45deg);
           top: 16px;
        }
        &::after{
            transform: rotate(-45deg);
            top: 16px;
        }
        span {
            transform: scale(0);
        }
    }
}
.header__menu {
    @media (max-width:767px) {
        // background-color: #F5F5F5;
        z-index: 3;
    }
    .menu__list {
        display: flex;
        // padding: 16px 0; /* использовать вместо ширины 55px*/
        // justify-content: center; 
        margin: 0;
        // align-items: center;
        @media (max-width:767px) {
            display: block;
            padding: 0;
            width: 182px;
            top: -100%;
            right: 25px;
            position: absolute;
            background-color: #f5f5f5;
            // transition: all 0.3s ease 0s;
        }
        .menu-item {
            list-style: none;
            text-decoration: none;
            padding: 0 34px;
            // padding: 46px 0 50px;
            @media (max-width:1199px) {
                padding: 0 14px;
            }
            @media (max-width:767px) {
                padding: 4px 12px;
                &:hover {
                    background-color:#E5E5E5;
                }
            }
            .menu-link {
                
                font-weight: 400;
                font-family: $fontFamily;
                color: $header-link;
                font-size: 11px;
                line-height: 2;
                text-decoration: none;
                text-transform: uppercase;
                
            .menu-link.active {
                color: $link-hover
            }
        }
    }
}
.header__menu.active {
    @media (max-width:767px) {
        top: 60px;
        right: 0;
        position: absolute;
       
    }
}

.intro {    
    .image-wrapper {
        max-width: 100%;
        overflow: hidden;
       
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
.posts {
    margin-top: 66px;
    margin-bottom: 70px;
    @media screen and (max-width:1199px) {
        margin-top: 56px;
        margin-bottom: 60px;
    } 
    @media screen and (max-width:767px) {
        margin-top: 38px;
        margin-bottom: 40px;
    } 
    .title {
       
        font-weight: 700;
         font-family: $fontFamily;
        font-size: 16px;
        line-height: 1.3;
        text-transform: uppercase;
        color: #4E4E4E;
        margin-bottom: 24px;
        text-align: left;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        
        .post-wrapper {
            display: flex;
            align-items: flex-start;
            margin-bottom: 32px;
            flex: 1 1 50%;
            
            @media screen and (max-width:1199px) {
                flex-basis: 100%;
            } 
            @media screen and (max-width:767px) {
                flex-basis: 100%;
                flex-direction: column;
                margin-bottom: 28px;
                &:last-child {
                  
                    display: none;
                }
            }
            .left {
                margin-right: 20px;
                
                .image {
                    width: 100%;
                }
                @media screen and (max-width:767px) {
                    margin-bottom: 12px;
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                
                align-items: flex-start;
                .post-title {
                     font-family: $fontFamily;
                   
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 2;
                    color: #4E4E4E;
                    margin-bottom: 1px;
                }
                .comments-link {
                     font-family: $fontFamily;                    
                    font-weight: 400;
                    margin-bottom: 12px;
                    text-decoration: none;
                    font-size: 12px;
                    line-height: 1.8;
                    color: #7C7C7C;
                }
                .post-desc {
                    font-family: $fontFamily;
                    max-width: 404px;
                    text-align: left;                    
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.9;
                    color: #5C5C5C;
                    margin: 0;
                    @media screen and (max-width:767px) {
                    display: none;
                    }
                }
            }
        }
    }  
}
.shots {
    background-color: rgba(0, 0, 0, 0.03);
    padding-top: 46px;
    padding-bottom: 50px;
    @media screen and (max-width:767px) {
        background-color: rgba(0, 0, 0, 0.0001);
        padding-top: 38px;
        padding-bottom: 42px;
    }
    .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 24px;
        .title {
            font-family: $fontFamily;            
            font-weight: 700;
            font-size: 16px;
            line-height: 1.4;
            text-transform: uppercase;
            color: #4E4E4E;
        }
        .inst-link {
            font-family: $fontFamily;            
            font-weight: 700;
            text-decoration: none;
            font-size: 13px;
            line-height: 1.8;
            text-transform: uppercase;
            color: #4E4E4E;
            @media screen and (max-width:767px) {
                display: none;
            }
        }
    }
    .images-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;        
        .item-image {
            width: 100%;
            margin: 0 5px;
            .image {
                width: 100%;
            }
            @media screen and (max-width:1199px) {
                &:last-child {
                    display: none;
                }
            }
            @media screen and (max-width:767px) {
                &:not(:first-child){
                    display: none;
                }
            }
        }
    }  
}
.footer {
    padding-top: 66px;
    padding-bottom: 70px;
    background: #000000;
    .footer-wrapper {
        text-align: center;
        max-width: 684px;
        margin: 0 auto;
        padding: 0 25px;
        .title {
             font-family: $fontFamily;            
            font-weight: 700;
            font-size: 16px;
            line-height: 1.3;
            text-align: center;
            text-transform: uppercase;
            color: #FEFEFE;
            margin-bottom: 22px;
        }
        .footer-desc {            
            font-family: $fontFamily;  
            font-weight: 400;
            display: flex;
            align-items: center;
            margin: 0 auto;
            font-size: 16px;
            line-height: 1.8;
            color: #B9B9B9;
            text-align: center;
            margin-bottom: 36px;            
        }
        .links {
            margin-bottom: 34px;
            .image-wrapper {
                display: flex;
                justify-content: center;
                .image {
                    margin: 0 3px;
                    fill: #ffffff;
                }
            }
        }
        .contact {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;           
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 1.4;           
           color: #B9B9B9;
            span {
                padding: 0 10px;
            }
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
        } 
    }
}

